@import "tailwindcss" important;

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --primary-bg: hsla(216, 33%, 97%, 1);
  --primary-theme-fg: hsla(257.9, 79%, 72%, 1);
  --primary-theme-bg: hsla(258.75, 20%, 16%, 1);
}

.dark {
  --primary-bg: hsla(225, 6%, 14%, 1);
  --primary-theme-bg: hsla(258, 79%, 72%, 1);
  --primary-theme-fg: hsla(259, 20%, 16%, 1);
}

@theme {
  --color-primary-bg: var(--primary-bg);
  --color-primary-theme-bg: var(--primary-theme-bg);
  --color-primary-theme-fg: var(--primary-theme-fg);
}
